header {
    border-bottom: 1px solid #202020;
    background-color: #333333;
    color: #ffffff;
}

header i {
    color: #ffffff !important;
}

footer {
    border-top: 1px solid #202020;
    background-color: #333333;
    color: #ffffff;
}

i {
    color: rgb(9, 107, 107);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    height: 100%;
    position: relative;
}

.grid-mask {
    background: #ffffff;
    background-image: linear-gradient(rgba(51, 51, 51, .03) .1em, transparent .1em), linear-gradient(90deg, rgba(51, 51, 51, .03) .1em, transparent .1em);
    background-size: 3em 3em;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.integration-container {
    background-color: #333333;
    height: fit-content;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #292929;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 99;
    padding: 5px;    
}

.integration-container-drag {
    height: 30px;
    width: 30px;
}

#inner-card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.card-integration {
    width: 88px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 5px;
    border: .5px solid #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

#droppable {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.custom-operator {
    height: fit-content;
    width: fit-content;
    border-radius: 7px;
    background-color: #f4fafa;
}

.custom-operator .flowchart-operator-title {
    background-color: #096b6b;
    color: #ffffff !important;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

.custom-operator .flowchart-operator-title i {
    color: #ffffff !important;
}

.custom-operator .flowchart-operator-body {
    padding: 10px 15px;
    display: none;
}